/* body {
  background-color: #939597;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line height: 2.5em;
  margin:50;
  overflow:hidden;
  width:70%;
  margin: auto;
}
h3{
  color:#3b748f;
  background-color: rgba(245, 245, 245, .5);
  text-align:center;
  border-radius: 5px 5px 0px 0px ;
}
a{
  color:rgb(136, 55, 31);
  text-decoration: none;
  font-weight:300;
}
img {
  border: 10px rgba(245, 245, 245, .5) solid;
  max-height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.what {
  background-color: #ccc8ad;
  border-radius: 5px;
}

.about {
  background-color: #dad2a2;
  border-radius: 5px;
}
.plans {
  background-color: #e2d792;
  border-radius: 5px;
}

footer{
  position: absolute;
  bottom: 0;
  font-size: 15px;
  text-align: center;
  width:70%;
  margin: auto;
} */

body {
  background-color: #939597;
  color: rgb(246, 215, 215);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line height: 2.5em;
  overflow:hidden;
  width: 70%;
  margin: auto;
}
/* .container-1 {
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  
} */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
#what {
  background-color: rgb(207, 168, 68);
  /* flex: 1; */
}
#about {
  background-color: rgb(182, 129, 43);
  /* flex: 1; */
}
#plans {
  background-color: rgb(155, 107, 53);
  /* border-radius: 3px; */
}
img {
  max-width: 40%;
  border: 4px rgba(245, 245, 245, 0.5) solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
footer {
  position:relative;
  margin: 100px;
  bottom:0px;
  left:0;
  right:0;
  height:30px 
}

    
  </div>
footer p {
  
  font-size: 10px;
  
}

p {
  padding: 10px;
  text-align: center;
}
h3 {
  text-align: center;
  border-radius: 4px 4px 0px 0px;
  background-color: rgba(245, 245, 245, 0.4);
  color: rgb(109, 22, 26);
}
a {
  decoration: none;
  color:rgb(22, 93, 105);
  font-weight: 700;
}
