body {
  background-color: #939597;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line height: 2.5em;
  margin:50;
  overflow:hidden;
  width:70%;
  margin: auto;
}
h3{
  color:#3b748f;
  background-color: rgba(245, 245, 245, .5);
  text-align:center;
  border-radius: 5px 5px 0px 0px ;
}
a{
  color:rgb(136, 55, 31);
  text-decoration: none;
  font-weight:300;
}
.what {
  background-color: #ccc8ad;
  border-radius: 5px;
}

.about {
  background-color: #dad2a2;
  border-radius: 5px;
}
.plans {
  background-color: #e2d792;
  border-radius: 5px;
}

footer{
  position: absolute;
  bottom: 0;
  font-size: 15px;
  text-align: center;
  width:70%;
  margin: auto;
}